In [5]:
import pandas as pd

# Cargar datos
df = pd.read_csv("../data/idealista_data_asturias.csv", sep=";")

# Resumen básico
print(df.info())
print(df.describe())

# Ver valores únicos en columnas categóricas
categorical_cols = ["Tipo de inmueble", "Barrio", "Municipio"]
for col in categorical_cols:
    print(f"Valores únicos en {col}: {df[col].nunique()}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1960 entries, 0 to 1959
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Id del anuncio                1960 non-null   int64
 1   Título                        1960 non-null   object
 2   Tipo de inmueble              1960 non-null   object
 3   Tipo de vendedor              1960 non-null   object
 4   Habitaciones                  1960 non-null   int64
 5   Barrio                        1960 non-null   object
 6   Municipio                     1960 non-null   object
 7   Euros/m2                      1960 non-null   int64
 8   Metros cuadrados construidos  1960 non-null   object
 9   Obra nueva (Sí/No)            1960 non-null   object
 10  Parking (Sí/No)               1960 non-null   object
 11  Jardín (Sí/No)                1960 non-null   object
 12  Precio                        1960 non-null   int64
dtypes: int64(4), object(9)
memory usage: 199.2+ KB
None
       Id del anuncio  Habitaciones     Euros/m2        Precio
count    1.960000e+03   1960.000000  1960.000000  1.960000e+03
mean     1.040468e+08      4.256122  1666.725000  3.372163e+05
std      7.750998e+06      2.194176   975.581231  3.118293e+05
min      1.739768e+06      3.000000    97.000000  1.450000e+04
25%      1.041580e+08      3.000000   922.000000  1.350000e+05
50%      1.060582e+08      4.000000  1552.500000  2.450000e+05
75%      1.070518e+08      5.000000  2278.750000  4.482500e+05
max      1.075763e+08     35.000000  6090.000000  2.890000e+06
Valores únicos en Tipo de inmueble: 5
Valores únicos en Barrio: 63
Valores únicos en Municipio: 76